In [42]:
import pandas as pd
import numpy as np 
d1=pd.read_csv('./files_for_lab/csv_files/file1.csv')
d2=pd.read_csv('./files_for_lab/csv_files/file2.csv')
d3=pd.read_csv('./files_for_lab/csv_files/file3.csv')

In [43]:
d1.shape

(4008, 11)

In [44]:
d2.shape

(996, 11)

In [45]:
d3.shape

(7070, 11)

In [46]:
cols1=[]
for c in d1.columns:
    cols1.append(c.capitalize())
d1.columns=cols1

cols2=[]
for c in d2.columns:
    cols2.append(c.capitalize())
d2.columns=cols2

cols3=[]
for c in d3.columns:
    cols3.append(c.capitalize())
d3.columns=cols3

In [47]:
cols1

['Customer',
 'St',
 'Gender',
 'Education',
 'Customer lifetime value',
 'Income',
 'Monthly premium auto',
 'Number of open complaints',
 'Policy type',
 'Vehicle class',
 'Total claim amount']

In [48]:
data = pd.concat([d1,d2,d3],axis=0)

In [49]:
data

,Customer,St,Gender,Education,Customer lifetime value,Income,Monthly premium auto,Number of open complaints,Policy type,Vehicle class,Total claim amount,State
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California
7066,PK87824,NaN,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California
7067,TD14365,NaN,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California
7068,UP19263,NaN,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California
7069,Y167826,NaN,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California

In [50]:
data.shape

(12074, 12)

In [51]:
data.columns

Index(['Customer', 'St', 'Gender', 'Education', 'Customer lifetime value',
       'Income', 'Monthly premium auto', 'Number of open complaints',
       'Policy type', 'Vehicle class', 'Total claim amount', 'State'],
      dtype='object')

In [56]:
data = data.drop(['Education','Number of open complaints'], axis=1)

In [58]:
data.dtypes

Customer                    object
St                          object
Gender                      object
Customer lifetime value     object
Income                     float64
Monthly premium auto       float64
Policy type                 object
Vehicle class               object
Total claim amount         float64
State                       object
dtype: object

In [60]:

col = []
for c in data['Customer lifetime value']:
    col.append(int(c)*100)
data['Customer lifetime value']=cols

ValueError: cannot convert float NaN to integer

In [61]:
data.dtypes

Customer                    object
St                          object
Gender                      object
Customer lifetime value     object
Income                     float64
Monthly premium auto       float64
Policy type                 object
Vehicle class               object
Total claim amount         float64
State                       object
dtype: object

In [62]:
data.loc[data.duplicated()]

,Customer,St,Gender,Customer lifetime value,Income,Monthly premium auto,Policy type,Vehicle class,Total claim amount,State
1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,GS98873,Arizona,F,323912.47%,16061.0,88.0,Personal Auto,Four-Door Car,633.6,NaN
1,CW49887,California,F,462680.11%,79487.0,114.0,Special Auto,SUV,547.2,NaN
2,MY31220,California,F,899704.02%,54230.0,112.0,Personal Auto,Two-Door Car,537.6,NaN

In [65]:
data=data.drop_duplicates()